/* src/components/MyBookings.css */
.my-bookings {
    margin-top: 20px;
  }
  
  .bookings-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .bookings-table th,
  .bookings-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .bookings-table th {
    background-color: #4CAF50;
    color: white;
  }
  
  .bookings-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .bookings-table tr:hover {
    background-color: #ddd;
  }
  
  /* Estilos generales para los botones */
button {
  padding: 8px 16px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Estilo específico para el botón de cancelar */
button {
  background-color: #f44336; /* Rojo */
  color: white;
}

button:hover {
  background-color: #e53935; /* Rojo más oscuro al pasar el ratón */
  transform: scale(1.05); /* Efecto de aumento al hacer hover */
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(244, 67, 54, 0.4); /* Resaltar el foco */
}

button:active {
  background-color: #d32f2f; /* Rojo más intenso cuando se hace clic */
  transform: scale(1); /* Reduce el tamaño al hacer clic */
}
